{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": false,
  "lines": 70,
  "statements": 70,
  "functions": 70,
  "branches": 50,
  "reporter": [
    "text",
    "lcov"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/**/*.spec.ts",
    "node_modules"
  ]
}