# RTSP camera settings for docker compose
RTSP_IP_LEFT=192.168.1.199
RTSP_IP_RIGHT=192.168.1.200
RTSP_USER=admin
RTSP_PASS=P@ssw0rd
RTSP_STREAM_PATH=/Streaming/Channels/101
RTSP_PORT=554
RTSP_READ_RETRIES=8
RTSP_RECONNECT_AFTER=10
MAPS_PATH=/workspace/iot-layer/camera-config/calibration-camera/stereo_rectify_maps.yml
SCALE_PORT=COM6
SCALE_BAUD=9600
SCALE_DELTA_KG=0.15
SCALE_STABLE_SECONDS=2.5
SCALE_EPS_KG=0.02
SCALE_DETECT_DELAY_SECONDS=1.5
TRACK_NEW_DELAY_SECONDS=1.5
TRACK_EXIT_DELAY_SECONDS=1.5
TRACK_COUNT_DELAY_SECONDS=1.5
FOCUS_MIN_LAPLACIAN=70.0
CAPTURE_COOLDOWN_SECONDS=2
DETECT_EVERY=1
IMGSZ=640
CONF=0.2
IOU=0.5
CALIBRATOR_API_PORT=5180
